// --------------------------
// Blog
// I. List of posts
// II. Single post
// --------------------------

// --------------------------
// I. List of posts
// --------------------------

body.blog {
	.panel {
		.container {

			.post-title {
				line-height: $lineheightsmall;
				margin-bottom: 0;
			}

			.post-date {
				color: $mediumgray;
				font-size: $fontsizesmall;
				margin-bottom: ($spacer * 2);
			}
		}
	}
}

.grid-blog {
	@media (min-width: $large) {
    display: flex;
    flex-flow: row wrap;
  }
}

.grid-item-blog-post {
	@media (min-width: $large) {
    width: 48%;
  }

  &:nth-child(odd) {
  	margin-right: ($spacer);
  }

  &:nth-child(event) {
  	margin-left: ($spacer);
  }

  img {
  	height: auto;
  	margin-bottom: ($spacer / 2);
  	width: 100%;
  }
}

// --------------------------
// II. Single post
// --------------------------

body.single-post {
	.panel:not(.panel-top) {
		.container {
			h1 {
				font-size: $fontsizelarge;
				margin-bottom: ($spacer / 2);
			}

			time {
				color: $mediumgray;
				display: block;
				font-size: $fontsizesmall;
				margin-bottom: ($spacer * 2);
			}
		}
	}
}